
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Konkhmer+Sleokchher&family=Oswald:wght@700&family=Staatliches&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --header: #282828;
    --l-text-bg: #fbfbf9;
    --olive: #91967D;
    --d-grey: #404040;
    --hero-overlay: #ddd5d4;
}

body{
    background-color: var(--l-text-bg);
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .3rem;
    
}

h2{
    font-weight: 700;
}

header{
    background-color: var(--header);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
    color: var(--l-text-bg);
    align-items: center;
    height: 10vh;
    /* position: sticky;
    top: 0;
    left: 0; */
    /* box-shadow: 0px 6px 8px 0px rgba(34,34,34,1); */
    width: 100%;
    z-index: 999;
}

.logo{
    text-decoration: none;
    color: var(--l-text-bg);
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.nav-menu{
    background-color: var(--header);
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 10vh;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
}

.open.nav-menu {
    left: 0;
    opacity: 1;
    z-index: 999;
    transition: .5s ease;
}

.nav-item{
    margin: .6em 0;
}

.nav-link{
    text-decoration: none;
    color: var(--l-text-bg);
    text-transform: uppercase;
    padding: .3em .5em;
    margin: 1em 0;
    font-family: 'Bebas Neue', sans-serif; 
    letter-spacing: .3rem;
}

.nav-item:hover .nav-link{
    color: var(--olive);
}

/* HAMBURGER */

.hamburger{
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    transition: .3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.hamburger::before{
    content: "";
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .5s ease-in-out;
    border-radius: 5px;
    transform: translateY(-8px);
}

.hamburger::after{
    content: "";
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .5s ease-in-out;
    border-radius: 5px;
    transform: translateY(8px);
}

.hamburger{
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.open .hamburger{
    background-color: transparent;
}

.open .hamburger::before{
    transform: rotate(-45deg);
}

.open .hamburger::after{
    transform: rotate(45deg);
}
  


/* HERO  */

.hero-home{
    background-image: url(images/hero-nina-libor-resized.jpg);
    aspect-ratio: 16/9;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
    padding-bottom: 1em;
}

@media screen and (min-width: 48em){
    .hero-home{
        background-image: url(images/hero-nina-libor.jpeg);
    }
}

.hero-content h1{
    color: var(--l-text-bg);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.hero-content h2{
    color: var(--l-text-bg);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3em; 
}

/* OBSAH */

section{
    height: 100%;
    width: 100%;  
}

.prologue, .couple, .our-team, .schedule, .fun, .registration-form{
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
}

.content{
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10%;
    bottom: 10%;
    left: 0;
    z-index: 999;
}

.hero{
    width: 100%;
    height: 100vh;
    aspect-ratio: 16/9;
}

.image1{
    background-image: url(images/image1.jpg);
    aspect-ratio: 16/9;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image1::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image2{
    background-image: url(images/image2.jpg);
    aspect-ratio: 16/9;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image2::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image3{
    background-image: url(images/image3.jpg);
    aspect-ratio: 16/9;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image3::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image4{
    background-image: url(images/image4.jpg);
    aspect-ratio: 16/9;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image4::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image5{
    background-image: url(images/image5.jpg);
    /* aspect-ratio: 16/9; */
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image5::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image6{
    background-image: url(images/image6.jpg);
    aspect-ratio: 16/9;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image6::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image7{
    background-image: url(images/image7.jpg);
    aspect-ratio: 16/9;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image7::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1290px) 
  and (-webkit-min-device-pixel-ratio: 2){ 
    .hero-home{
        background-attachment: scroll;
    }

    .image1{
        background-attachment: scroll;
    }

    .image2{
        background-attachment: scroll;
    }

    .image3{
        background-attachment: scroll;
    }

    .image4{
        background-attachment: scroll;
    }

    .image5{
        background-attachment: scroll;
    }

    .image6{
        background-attachment: scroll;
    }

    .image7{
        background-attachment: scroll;
    }

}



/* PROLOGUE */


.prologue-grid-container{
    width: 90%;
    height: 50em;
    /* height: 100%; */
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(20em, 25em);
    gap: 2em;
}

.h-line{
    background-color: var(--header);
    height: 1px;
    width: 50%;
    margin: 1em 25%;
    display: inline-block;
}

.prologue-text{
    line-height: 1.6;
    font-size: 1.2rem;
    
}

.initial-letter::first-letter {
    initial-letter: 2;
    padding-right: .3rem;
}

.first-letter{
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

@media screen and (max-width: 395px){
    .first-letter{
        font-size: 2rem;
    }
}

.signature{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    padding: 1em;
}

.prologue-image{
    background-image: url(images/nina-libor-blacknwhite-resized.jpg);
    background-size: cover;
    background-position: 75%;
}

/* OUR TEAM */


.our-team{
    height: 100%;
}

.our-team .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-heading{
    margin-top: 2em;
}

.team-grid{
    
    width: 90%;
    transform: translate(-3%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(2em, 4em) minmax(10em, 18em) minmax(10em, 18em) minmax(2em, 4em) minmax(10em, 18em) minmax(10em, 18em);
    /* column-gap: .5em; */
    row-gap: .5em;
    margin-bottom: 2em;
}

@media screen and (max-width: 374px){
    .team-grid{
    
        width: 90%;
        transform: translate(-5%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(2em, 4em) minmax(10em, 18em) minmax(10em, 18em) minmax(2em, 4em) minmax(10em, 18em) minmax(10em, 18em);
        /* column-gap: .5em; */
        row-gap: .5em;
        margin-bottom: 2em;
    }

    .team-detail1, .team-detail3{
        position: absolute;
        background-color: var(--olive);
        width: 206%;
        height: 90%;
        left: -108%;
        top: 5%;
        padding: 1em;
        display: grid;
        place-content: center;
        box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    
        transform: scale(0);
        transition: transform .3s ease-in-out;
    }
    
    .team-detail2, .team-detail4{
        position: absolute;
        background-color: var(--olive);
        width: 190%;
        height: 90%;
        right: -96%;
        top: 5%;
        padding: 1em;
        display: grid;
        place-content: center;
        box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    
        transform: scale(0);
        transition: transform .3s ease-in-out;
    }
}

@media screen and (min-width: 388px) {
    .team-grid{
    
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(2em, 4em) minmax(10em, 18em) minmax(10em, 18em) minmax(2em, 4em) minmax(10em, 18em) minmax(10em, 18em);
        /* column-gap: .5em; */
        row-gap: .5em;
        margin-bottom: 2em;
    }
}

.grid-item{
    display: grid;
    place-content: center;
}

.grid-item p{
    text-align: center;
}

.team-parag{
    display: none;
    font-size: 1.5rem;
    padding-bottom: 2em;
    color: var(--l-text-bg);
}

.team-detail-parag{
    font-size: 1rem;
    line-height: 1.2;
    /* padding-bottom: 2em; */
    color: var(--l-text-bg);
}

.bridesmen-heading h2{
    text-align: center;
}

.bridesmen-heading{
    grid-column: 1/3;
    place-self: center;
}

.bridesman1{
    background-image: url(images/martas-resized.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    grid-row: 2/3;
}

.bridesman2{
    background-image: url(images/martinka-resized.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
}

.name2{
    grid-row: 3/4;
}

.bestmen-heading{
    grid-column: 1/3;
    text-align: center;
    place-self: center;
}

.bestman1{
    background-image: url(images/palo-resized.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bestman2{
    background-image: url(images/mato-resized.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
}


@media screen and (min-width: 48em){
    .bridesman1{
        background-image: url(images/martas.png);
    }

    .bridesman2{
        background-image: url(images/martinka.png);
    }

    .bestman1{
        background-image: url(images/palo.png);
    }

    .bestman2{
        background-image: url(images/mato.png);
    }
}

.name4{
    grid-row: 6/7;
}

.name1, .name2, .name3, .name4{
    padding: 2em 3em;
    position: relative;
    cursor: pointer;
    
}

.name1 > .martas, .name2 > .martinka, .name3 > .palo, .name4 > .mato{
    padding: .5em .8em;
    border: 1px solid var(--header);
    transition: all .3s ease-in-out;
}

.name1 > .martas:hover, .name2 > .martinka:hover, .name3 > .palo:hover, .name4 > .mato:hover{
    color: var(--olive)
}

.name1 > .martas:focus, .name2 > .martinka:focus, .name3 > .palo:focus, .name4 > .mato:focus{
    color: var(--olive)
}

.team-detail1, .team-detail3{
    position: absolute;
    background-color: var(--olive);
    width: 208%;
    height: 90%;
    left: -108%;
    top: 5%;
    padding: 1em;
    display: grid;
    place-content: center;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);

    transform: scale(0);
    transition: transform .3s ease-in-out;
}

.team-detail2, .team-detail4{
    position: absolute;
    background-color: var(--olive);
    width: 195%;
    height: 90%;
    right: -96%;
    top: 5%;
    padding: 1em;
    display: grid;
    place-content: center;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);

    transform: scale(0);
    transition: transform .3s ease-in-out;
}

.team-detail1.active, .team-detail2.active, .team-detail3.active, .team-detail4.active{
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

/* PROGRAM */ 

.schedule{
    height: 100%;
}

.schedule .content{
    margin: 0em auto;
    display: flex;
    flex-direction: column;
}

.accordion-container{
    width: 90%;
}

.accordion{
    border: 1px solid var(--header);
    border-bottom: none;
}

.schedule-heading{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.accordion:nth-child(7){
    border-bottom: 1px solid var(--header);
}

.accordion-header{
    height: 8em;
    background-color: var(--l-text-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: .5em;
    padding: .8em;
    cursor: pointer;
}

.accordion-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-heading h3{
    text-transform: uppercase;
    font-weight: 700;
}

.accordion-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transition: opacity 1s ease;
    overflow-y: hidden;
    height: 0;
    opacity: 0;
}

.accordion-content ol{
    padding-left: 1.5em;
}

.accordion-content ul{
    list-style: circle;
    padding-left: 1.5em;
}

.warmup-img{
    background-image: url(images/ninalibor5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center;
    
}

.arrival-img{
    background-image: url(images/ninalibor11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    background-position: center 90%;
}

.ceremony-img{
    background-image: url(images/ninalibor4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 70%;
}

.photoshoot-img{
    background-image: url(images/ninalibor10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 80%;
}

.cake-img{
background-image: url(images/ninalibor2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 40%;
}

.dance-img{
    background-image: url(images/ninalibor7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 60%;
}

.chill-img{
    background-image: url(images/ninalibor8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 40%;
}

.accordion.active .accordion-content{
    opacity: 1;
    padding: .8em;
    gap: .5em;
}

.accordion.active .accordion-header{
    border-bottom: 1px solid var(--header);
}

svg{
    transition: transform .5s ease;
}

.accordion.active svg{
    transform: rotate(180deg);

}


/* TĚŠIT SE MŮŽETE NA */

.fun-heading{
    margin-top: 2em;
    margin-bottom: 1em;
}

.fun .content{
    margin: 0em auto;
    display: flex;
    flex-direction: column;
}

.fun .accordion:last-child{
    border-bottom: 1px solid var(--header);
}

.area-img{
    background-image: url(images/areal-map-rsz.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 40%;
}

.catering-img{
    background-image: url(images/kro-rsz.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center;
}

.bar-img{
    background-image: url(images/waid.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 10%;
}

.music-img{
    background-image: url(images/music-rsz-resized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    /* aspect-ratio: 9/16; */
    background-position: center 30%;
}


/* DÁRKY */


.gifts-anounce{
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.gift-img{
    width: 100%;
}

.gifts-anounce p{
    line-height: 1.6;
    text-align: center;
}

.bank-account{
    text-decoration: none;
    color: var(--header);
}

.qr{
    background-image: url(images/qrcode.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15em;
    aspect-ratio: 1/1;
    margin-top: 2em;
}

/* DRESSCODE */

.dresscode-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin: 3em 0;
    width: 90%;
    position: relative;
}

.dresscode-content p{
    text-align: center;
    
}


.dresscode-heading{
}
.dresscode-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.hanger{
    width: 40%;
    position: absolute;
    top: 22%;
    left: 30%;
}

/* UBYTOVANI */

.accomodation-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    gap: 1em;
}

.accomodation h2{
    text-align: center;
    font-size: 2rem;
    
}

.accomodation-choice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.acco-heading {  
    transition: all .3s linear;
    cursor: pointer;
letter-spacing: 2px;
}

.acco-heading:hover, .acco-heading:active, .acco-heading:focus, .acco-heading:focus-visible, .acco-heading:visited{
    text-decoration: underline;
    text-decoration-color: var(--header);
    text-underline-offset: 4px;
}



.accomodation-card{
    width: 100%;
    height: 42em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 5px;
    box-shadow:  20px 20px 60px #d5d5d4,
             -20px -20px 60px #ffffff;
    margin-top: 1.5em;
}

.accomodation-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: left;
    padding: 1em;
    
}

.apartman.active{
    display: block;
}

.hotel{
    display: none;
}

.hotel.active{
    display: block;
}

.chatky{
    display: none;
}

.chatky.active{
    display: block;
}

.stan{
    display: none;
}

.stan.active{
    display: block;
}

.acco-image1{
    background-image: url(images/apartmany-resized.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}

.acco-image2{
    background-image: url(images/hotel-luznice.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60%;
}

.acco-image4{
    background-image: url(images/maringotka.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60%;
}

.acco-image5{
    background-image: url(images/stan-slunce-rsz.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}

/* DOPRAVA */

.transport .content{
    /* all: unset; */

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transport h2{
    text-align: center;
    margin-top: 2em;
}

.transport-container{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.car{
    
    display: grid;
    place-items: center;
}

.train{
    
    display: grid;
    place-items: center;
}

.car-icon{
    width: 10em;
    height: 10em;
}

.train-icon{
    width: 10em;
    height: 10em;
}

.car-heading, .train-heading{
    margin: 1em auto;
}

.transport a {
    text-align: center;
    color: var(--d-grey);
    text-transform: uppercase;
    text-decoration: none;
    padding: .5em .7em;
    border: 1px solid var(--header);
    margin: 1em auto;
}

.train-map:hover, .parking-map:hover{
    transition: all .3s ease-in-out;
}

.train-map:hover, .parking-map:hover{
    background-color: var(--olive);
    transition: all .3s ease-in-out;
}

.parking-map{
    position: relative;
}

.tooltip{
    display: none;
}


/* REGISTRATION FORM */


.involveme_embed{
    width: 100vw;
    height: 100%;
}

/* FOOTER */


footer{
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--d-grey);
    place-items: center;
}

.social-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    gap: 1em;
}

.copy p{
    color: var(--l-text-bg);
}

@media screen and (min-width: 24.3em){
    .team-detail1, .team-detail3{
        position: absolute;
        width: 205%;
        height: 90%;
        left: -106%;
        /* top: 5%; */
        
    }
    
    .team-detail2, .team-detail4{
        position: absolute;
        width: 201%;
        height: 90%;
        right: -102%;
        top: 5%;
    }
}

@media screen and (min-width: 30em){
    .team-detail1, .team-detail3{
        position: absolute;
        width: 202%;
        height: 100%;
        left: -101%;
        top: 0;
        
    }
    
    .team-detail2, .team-detail4{
        position: absolute;
        width: 202%;
        height: 100%;
        right: -101%;
        top: 0;
    }
}

@media screen and (min-width: 48em){
    

    .nav-bar{
        position: sticky;
        top: 0;
        left: 0;
        width: 90%;
        margin: 0 auto;
    }

    .couple, .our-team{
        height: 200vh;
    }

    .schedule{
        height: 270vh;
    }

    .fun{
        height: 215vh;
    }

    .gifts{
        height: 150vh;
    }

    .dresscode{
        height: 150vh;
    }

    .accomodation{
        height: 150vh;
    }

    .transport{
        height: 150vh;
    }

    .transport .content{
        position: sticky;
        top: 10vh;
        bottom: 10vh;
        height: auto;
    }

    .prologue-grid-container{
        width: 70%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(5em, 6em);
        align-items: center;
    }

    .prologue-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4em;
    }

    .prologue-image{
        height: 75%;
    }

    .image3{
        background-position: center 20%;
    }

    .image4{
        background-position: center 10%;
    }

    .image5{
        background-position: center 15%;
    }

    .image6{
        background-position: top;
    }

    .team-grid{
        width: 70%;
        row-gap: 1.5em;
    }

    .martas, .martinka, .palo, .mato{
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .name1 > .martas, .name2 > .martinka, .name3 > .palo, .name4 > .mato{
        border: none;
    }
    
    .team-parag{
        all: unset;

        color: var(--header);
        display: none;
        width: 140%;
        transition: opacity 1s ease;
        padding-left: 0;
        font-size: 1rem;
        opacity: 0;
    }

    .name1:hover .team-parag, .name2:hover .team-parag, .name3:hover .team-parag, .name4:hover .team-parag{
        opacity: 1;
        display: grid;
        place-items: center;
    }

    .name1:hover .martas, .name2:hover .martinka, .name3:hover .palo, .name4:hover .mato{
        display: none;
    }

    .team-detail1, .team-detail3, .team-detail2, .team-detail4{
        display: none;
        
    }

    .dresscode-content{
        width: 80%;
    }

    .dresscode-content .h-line{
        margin-bottom: 5em;
    }

    .hanger{
        width: 30%;
        top: 22%;
        left: 35%;
    }



    .accordion-container{
        width: 70%;
    }

    .accordion-content{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        background-color: var(--l-text-bg);
    }

    .area-desc{
        flex-basis: 60%;
        margin-left: 2em;
        line-height: 1.5;
    }

    .accordion-content p {
        padding: 4em;
        line-height: 2;
        overflow-x: hidden;
    }

    .warmup-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .arrival-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ceremony-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .photoshoot-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cake-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .dance-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .chill-img{
        height: 20em;
        aspect-ratio: 9/16;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .area-img{
        height: 20em;
        aspect-ratio: 1/1;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .catering-img{
        height: 20em;
        aspect-ratio: 1/1;
        width: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bar-img{
        height: 20em;
        aspect-ratio: 1/1;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .music-img{
        height: 20em;
        aspect-ratio: 1/1;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .gifts-anounce{
        width: 70%;
    }

    .accomodation-container{
        width: 70%;
    }

    .transport .content{
        justify-content: center;
    }

    .transport-container{
        width: 70%;
        flex-direction: row;
        
    }

    .car{
        flex-basis: 50%;

    }

    .train{
        flex-basis: 50%;
    }

    .car p{
        min-height: 18em;
    }
    
    .train p {
        min-height: 18em;
    }

    .transport p{
        width: 70%;
    }

}


@media screen and (min-width: 64em){
       

    .menu-btn{
        display: none;
    }

    .nav-menu{
        all: unset;
        list-style-type: none;
        display: flex;
    }

    .nav-link{
        transition: all .3s linear;
    }

    .nav-item:hover .nav-link{
        color: var(--olive);
    }

    .prologue-grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .prologue-image{
        background-position: 75%;
    }

    .couple-grid-container{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: minmax(8em, 12em) minmax(40em, 50em);
        gap: 2em;
    }

    .couple-heading{
        grid-column: 1/3;
    }

    .bride, .groom{
        text-align: center;
    }

    .our-team{
        height: fit-content;
    }
    

    .team-grid{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(2em, 4em) minmax(15em, 20em) minmax(15em, 20em) minmax(2em, 4em) minmax(15em, 20em) minmax(15em, 20em);
        margin: 3em auto;
        row-gap: 2em;
    
    }

    .team-parag{
        width: 100%;
    }

    .team-heading{
        grid-column: 1/3;
        text-align: center;
    }

    .dresscode-content{
        width: 70%;
    }

    .dresscode-content .h-line{
        margin-bottom: 7em;
    }

    .hanger{
    top: 21%;
    }

    .schedule .content{
        display: flex;
        flex-direction: column;
    }

    .accordion-container{
        width: 70%;
        height: 100%;
    }

    .accomodation-card{
        height: 40em;
    }
    
    .directions{
        width: 100%;
        object-fit: contain;
    }
      
    .parking-map:hover + .tooltip,
    .tooltip:hover {
        visibility: visible;
        opacity: 1;
    }

    .tooltip {
        all: unset;

        position: absolute;
        top: 21%;
        left: 67%;
        transform: translateX(-50%);
        z-index: 3;
        width: 50em;
        height: auto;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    }


}

@media screen and (min-width: 80em){

    .prologue-grid-container{
        width: 60%;
    }

    .couple-grid-container{
        width: 60%;
    }

    .team-grid{
        width: 60%;
        grid-template-rows: minmax(4em, 6em) minmax(18em, 23em) minmax(18em, 23em) minmax(4em, 6em) minmax(18em, 23em) minmax(18em, 23em);
        row-gap: 3em;

    }

    .team-parag{
        width: 90%;
        padding-left: 2em;
        padding-right: 2em;
        line-height: 1.5;
    }

    .accordion-container{
        width: 60%;
    }

    .gifts-anounce{
        width: 60%;
    }

    .dresscode-content{
        width: 60%;
    }

    .dresscode-content .h-line{
        margin-bottom: 10em;
    }

    .hanger{
        top: 18%;
    }

    .accomodation-container{
        width: 60%;
    }

    .acco-image1, .acco-image2, .acco-image3, .acco-image4, .acco-image5{
        height: 70%;
    }

    .transport p{
        width: 70%;
        
    }
}

@media screen and (min-width: 120em){
    .tooltip{
        position: absolute;
        left: 56%;
        top: 19%;
    }

    .team-parag{
        width: 70%;
        line-height: 1.7;
    }
}

