@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Staatliches&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --header: #282828;
    --l-text-bg: #fbfbf9;
    --olive: #91967D;
    --d-grey: #404040;
}

body{
    background-color: var(--l-text-bg);
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3{
    font-family: 'Staatliches', cursive;
    letter-spacing: .3em;
}

h2{
    font-weight: 700;
}

header{
    background-color: var(--header);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
    color: var(--l-text-bg);
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    /* box-shadow: 0px 6px 8px 0px rgba(34,34,34,1); */
    width: 100%;
    z-index: 999;
}

.logo{
    text-decoration: none;
    color: var(--l-text-bg);
    font-weight: 700;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.nav-menu{
    background-color: var(--header);
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 10vh;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
}

.open.nav-menu {
    left: 0;
    opacity: 1;
    z-index: 999;
    transition: .5s ease;
}

.nav-item{
    margin: .6em 0;
}

.nav-link{
    text-decoration: none;
    color: var(--l-text-bg);
    text-transform: uppercase;
    padding: .3em .5em;
    margin: 1em 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;   
}

.nav-item:hover .nav-link{
    color: var(--olive);
}

/* HAMBURGER */

.hamburger{
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    transition: .3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.hamburger::before{
    content: "";
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .5s ease-in-out;
    border-radius: 5px;
    transform: translateY(-8px);
}

.hamburger::after{
    content: "";
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .5s ease-in-out;
    border-radius: 5px;
    transform: translateY(8px);
}

.hamburger{
    width: 38px;
    height: 4px;
    background-color: var(--l-text-bg);
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.open .hamburger{
    background-color: transparent;
}

.open .hamburger::before{
    transform: rotate(-45deg);
}

.open .hamburger::after{
    transform: rotate(45deg);
}
  


/* HERO  */

.hero-home{
    background-image: url(images/hero-nina-libor.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
    padding-bottom: 1em;
}

.hero-home::after{
    content: "";
    position: absolute;
    background-color: var(--d-grey);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.hero-content h1, .hero-content h3{
    color: var(--l-text-bg);
    font-size: 2rem;
    font-weight: 900;
}

/* OBSAH */

section{
    height: 150vh;
    width: 100vw;  
}

.prologue, .couple, .schedule, .parking, .registration-form{
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
}

.content{
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10vh;
    bottom: 10vh;
    left: 0;
    z-index: 999;
}

.hero{
    width: 100%;
    height: 98vh;
}

.image1{
    background-image: url(images/nina-libor-blacknwhite.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image1::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image2{
    background-image: url(images/nina-libor-blacknwhite.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image2::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image3{
    background-image: url(images/nina-libor-blacknwhite.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image3::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

.image4{
    background-image: url(images/nina-libor-blacknwhite.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 13px 0px rgba(34,34,34,1);
    position: relative;
    isolation: isolate;
}

.image4::after{
    content: "";
    position: absolute;
    background-color: var(--l-text-bg);
    z-index: -1;
    inset: 0;
    opacity: 0.3;
    box-shadow: inset 0px 12px 13px 0px rgba(34,34,34,1);
}

/* PROLOGUE */

.prologue, .couple, .schedule, .parking, .registration-form{
    display: grid;
    place-content: center;
}

.prologue-grid-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(20em, 30em);
    gap: 1em;
}

.h-line{
    background-color: var(--header);
    height: 1px;
    width: 50%;
    margin: 2em 25%;
    display: inline-block;
}

.prologue-text{
    line-height: 1.6;
    font-size: 1.2rem;
}

.initial-letter::first-letter {
    initial-letter: 2;
    padding-right: .3rem;
    /* font-size: 2em;
    font-weight: bold; */
}

.first-letter{
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

.signature{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.prologue-image{
    background-image: url(images/nina-libor-blacknwhite.jpeg);
    background-size: cover;
    background-position: right 10%;
}


/* COUPLE */

.couple{
    height: fit-content;
}

.couple-grid-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.couple-heading{
    width: 100%;
    text-align: center;
}

.couple-heading h2{
    margin-top: 2em;
}

.bride{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bride h3{
    margin-top: 1em;
}

.groom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groom h3{
    margin-top: 1em;
}

.bride-img{
    height: 40em;
    width: 99%;
    background-image: url(images/nina.jpeg);
    background-position: center;
    background-size: cover;
}

.groom-img{
    height: 40em;
    width: 99%;
    background-image: url(images/libor.jpeg);
    background-position: center;
    background-size: cover;
}

/* OUR TEAM */

.our-team .content{
    display: flex;
    flex-direction: column;
    height: auto;
}

.team-heading{
    margin-top: 2em;
}

.team-grid{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(2em, 4em) minmax(10em, 15em) minmax(10em, 15em) minmax(2em, 4em) minmax(10em, 15em) minmax(10em, 15em);
    gap: .5em;
}

.grid-item{
    display: grid;
    place-content: center;
}

.bridesmen-heading h2{
    text-align: center;
}

.bridesmen-heading{
    grid-column: 1/3;
    place-self: center;
}


    
.bridesman1{
    background-image: url(images/martin-dite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    grid-row: 2/3;

}

.bridesman2{
    background-image: url(images/martina-konecna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
}

.name2{
    grid-row: 3/4;
}

.bestmen-heading{
    grid-column: 1/3;
    text-align: center;
    place-self: center;
}

.bestman1{
    background-image: url(images/martin-zoller.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bestman2{
    background-image: url(images/martin-trnovec.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    grid-column: 2/3;
}

.name4{
    grid-row: 6/7;
}


/* PROGRAM */ 

.schedule{
    height: 100%;
}

.schedule .content{
    margin: 3em auto;
    display: flex;
    flex-direction: column;
}

.accordion-container{
    width: 90%;
}

.accordion{
    border: 1px solid var(--header);
    border-bottom: none;
}

.schedule-heading{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.accordion:nth-child(7){
    border-bottom: 1px solid var(--header);
}

.accordion-header{
    height: 8em;
    background-color: var(--l-text-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: .5em;
    padding: .8em;
    cursor: pointer;
}

.accordion-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-heading h3{
    text-transform: uppercase;
    font-weight: 700;
}

.accordion-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* padding: .8em;
    gap: .5em; */
    transition: opacity 1s ease;
    overflow-y: hidden;
    height: 0;
    opacity: 0;
}

.accordion-content a {
    width: fit-content;
    padding: .3em .5em;
    text-decoration: none;
    color: var(--header);
    text-transform: uppercase;
    border: 1px solid var(--header);
    transition: all .3s linear;
}

.accordion-content a:hover {
    color: var(--olive);
    
}

.accordion.active .accordion-content{
    opacity: 1;
    padding: .8em;
    gap: .5em;
}

.accordion.active .accordion-header{
    border-bottom: 1px solid var(--header);
}

svg{
    transition: transform .5s ease;
}

.accordion.active svg{
    transform: rotate(180deg);

}

/* NA CO SE MŮŽETE TĚŠIT? */

.fun-heading{
    margin-top: 3
}


/* DÁRKY */

.gifts{
    background-color: white;
}

.gifts-anounce{
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.gift-img{
    width: 100%;
    /* background-image: url(images/gift.jpg); */
}

.gifts-anounce p{
    line-height: 1.6;
    text-align: center;
}

/* UBYTOVANI */

.accomodation-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    gap: 1em;
}

.accomodation h2{
    text-align: center;
    font-size: 2rem;
}

.accomodation-choice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.acco-heading {  
    transition: all .3s linear;
    cursor: pointer;
}

.acco-heading:hover, .acco-heading:active, .acco-heading:focus, .acco-heading:focus-visible, .acco-heading:visited{
    text-decoration: underline;
    text-decoration-color: var(--header);
    text-underline-offset: 4px;
}



.accomodation-card{
    width: 100%;
    height: 36em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 5px;
    box-shadow:  20px 20px 60px #d5d5d4,
             -20px -20px 60px #ffffff;
    margin-top: 1.5em;
}

.accomodation-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: left;
    padding: 1em;
    
}

.apartman.active{
    display: block;
}

.hotel{
    display: none;
}

.hotel.active{
    display: block;
}

.chatky{
    display: none;
}

.chatky.active{
    display: block;
}

.stan{
    display: none;
}

.stan.active{
    display: block;
}





.acco-image1{
    background-image: url(images/samota.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}

.acco-image2{
    background-image: url(images/hotel-luznice.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60%;
}

.acco-image4{
    background-image: url(images/chatky-soukenik.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60%;
}

.acco-image5{
    background-image: url(images/stan-soukenik.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}


/* REGISTRATION FORM */


.involveme_embed{
    width: 100vw;
    height: 100%;
}

























footer{
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--d-grey);
    place-items: center;
}

.social-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    gap: 1em;
}

.social-menu svg{
    
}
.copy p{
    color: var(--l-text-bg);
    
}

@media screen and (min-width: 48em){
    .nav-bar{
        width: 90%;
        margin: 0 auto;
    }

    .prologue-grid-container{
        width: 70%;
    }

    .couple-grid-container{
        width: 70%;
        gap: 2em;
    }

    .bride-img{
        background-position: ;
    }

    .team-grid{
        width: 70%;
    }

    .bride-img{
        background-position: top;
    }

    .groom-img{
        background-position: top;
    }

    .bridesman2{
        background-position: top;
    }

    .bestman2{
        background-position: top;
    }

    .accordion-container{
        width: 70%;
    }

    .gifts-anounce{
        width: 70%;
    }

    .accomodation-container{
        width: 70%;
    }

}


@media screen and (min-width: 64em){
    .nav-bar{
        position: unset;
    }

    .menu-btn{
        display: none;
    }

    .nav-menu{
        all: unset;
        list-style-type: none;
        display: flex;
    }

    .nav-link{
        transition: all .3s linear;
    }

    .nav-item:hover .nav-link{
        color: var(--olive);
    }

    .prologue-grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .prologue-image{
        background-position: 75%;
    }

    .couple-grid-container{
        grid-template-columns:  1fr 1fr;
        grid-template-rows: minmax(8em, 12em) minmax(40em, 50em);
        gap: 2em;
    }

    .couple-heading{
        grid-column: 1/3;
    }

    .bride, .groom{
        text-align: center;
    }

    .our-team{
        height: fit-content;
    }
    

    .team-grid{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(2em, 4em) minmax(15em, 20em) minmax(15em, 20em) minmax(2em, 4em) minmax(15em, 20em) minmax(15em, 20em);
        margin: 3em auto;
    
    }

    .team-heading{
        grid-column: 1/3;
        text-align: center;
    }



    .schedule .content{
        display: flex;
        flex-direction: column;
    }

    .accordion-container{
        width: 70%;
        height: 100%;
    }

    .accomodation-card{
        height: 40em;
    }


}

@media screen and (min-width: 80em){
    .nav-bar{
        width: 60%;
    }

    .prologue-grid-container{
        width: 60%;
    }

    .couple-grid-container{
        width: 60%;
    }

    .team-grid{
        width: 60%;

    }

    .accordion-container{
        width: 60%;
    }

    .gifts-anounce{
        width: 60%;
    }

    .accomodation-container{
        width: 60%;
    }

    .acco-image1, .acco-image2, .acco-image3, .acco-image4, .acco-image5{
        height: 70%;
    }
}

